@{
    ViewData["Title"] = "Creditos";
}


<section class="Creditos">
 <h1>Creadores: </h1>
        <div>
            <h3>Ludmila Grun</h3>
            <img src="\img\foto ludmi.png" alt="Foto Integrante">
        </div>
         <div>
            <h3>Sofia Sufryn</h3>
            <img src="\img\foto sofi.png" alt="Foto Integrante">
        </div>
         <div>
            <h3>Facundo Angel</h3>
            <img src="\img\foto facu.png" alt="Foto Integrante">
        </div>


         <div class="volver-inicio">
    <a href='@Url.Action("Index", "Home")'>Volver al inicio</a>
  </div>
 </section>          
