@{
    ViewData["Title"] = "Creditos";
}

<section>
        <div>
            <h3>Ludmila Grun</h3>
            <img src="\img\foto ludmi.png" alt="Foto Integrante">
        </div>
         <div>
            <h3>Sofia Sufryn</h3>
            <img src="\img\foto sofi.png" alt="Foto Integrante">
        </div>
         <div>
            <h3>Facundo Angel</h3>
            <img src="\img\foto facu.png" alt="Foto Integrante">
        </div>
         <a href='@Url.Action("Index", "Home")'alt = >Volver al inicio</a>
 </section>       
