@{
    ViewData["Title"] = "FinJuego";
}

<section class="Fin">
<div>
    <h1>FELICIDADES, LOGRASTE AYUDAR A LOS CHICOS A SALIR DE LA ISLA PERDIDA! ELLOS TE AGRADECEN MUCHO POR TU AYUDA</h1>
    <img src="/img/imagen final.webp" alt="Foto final">
</div>
</section>