@{
    ViewData["Title"] = "Index";
}
    <div class="Fondo">
    </div>
    <div class ="Contenido">
    <h2>Los naufragos del misterio</h2>
    <a href = '@Url.Action("Registrarse", "Home")' alt = >Jugar</a>
    <a href = '@Url.Action("Tutorial", "Home")' alt= >Tutorial</a>
    <a href = '@Url.Action("Creditos", "Home")'alt = >Creditos</a>
    </div>
</section>
