@{
    ViewData["Title"] = "Pistas";
}

<p>@ViewBag.Pista</p>


<section class="FotosPistas">
    <div>
        <img src="" alt="Foto pistas">
    </div>
</section>

<section class="Pistas">
        <div>
        <form method="post"  action='@Url.Action("PasarAOtraSala", "Home")'>
        <input type="submit" value="Devolver a sala">
        </form>
        </div>
</section>
 