@{
    ViewData["Title"] = "Registrarse";
}

<div class="Fondo">
    </div>
<section class="Registrarse">
        <div>
        <form method="post"  action='@Url.Action("EmpezarJuego", "Home")'>
        Ingresa tu nombre:<input type="text" name="username" placeholder="Escribi tu Nombre"/><br/>
        <input type="submit" value="Ingresar">
        </form>
        </div>
 </section>       
 


