@{
    ViewData["Title"] = "Sala4";
}

<div class="Fondo">
</div>

<section class="Sala4">
<div>
<h1>Recorda el numero del chico que era el que estaba mas perdido</h1>
<h2>Te dejamos la foto para lo recuerdes!</h2>
<form method="post"  action='@Url.Action("PasarAOtraSala", "Home")'>
Ingresar respuesta:<input type="text" name="respuesta"><br/>
<input type="submit" value="Comprobar respuesta"></form>
<img src="\img\foto 1.png" alt="Foto chicos">
</div>
<div>
    <form method="post"  action='@Url.Action("DevolverPista", "Home")'>
    <input type="submit" value="Pedir pista">
    </form>
    </div>
</div>
</section>