@{
    ViewData["Title"] = "Tutorial";
}

<div>
    <h1>Como hago para salir de esta difultosa sala de escape?</h1>
    <h2>Tranquilo/a, es muy sencillo!</h2>
    <p>Esta sala de escape tiene como objetivo ayudar a 3 niños que estan perdidos en una Isla Desierta ubicada en Burgaria hace 6 años y medio. Para poder ayudarlos, van a tener que lograr salir de 5 salas, en la cual en cada una de ellas se van a encontraran diversas consignas que van a que cumplir. Listos para empezar a jugar?</p>
    <img src="\img\foto isla.png" alt="Foto Isla">

    <a href='@Url.Action("Index", "Home")'alt = >Volver al inicio</a>
</div>